html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
}
/*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*/
.topstuff {
  background-color: #fff;
  height: 8%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.15vh;
  padding-left: 8vh;
  padding-right: 7vh;
}
.topjoin {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

queuecube {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 61vh;
  cursor: pointer;
}
.logo {
  height: 5vh;
  margin-right: 1vh;
}
.topjoin bars {
  color: #000;
  border-radius: 1vh;
  margin-right: 5vh;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.8vh;
  cursor: pointer;
}
.searchbar {
  background-color: #f2f2f2;
  width: 30%;
  height: 4.5vh;
  padding: 1vh;
  padding-left: 3vh;
  font-family: Outfit, sans-serif;
  font-size: 2vh;
  border-radius: 1vh;
  outline: none;
  border: none;
}
.locationset {
  border-radius: 1vh;
  margin-right: 1vh;
  padding: 2vh 1.5vh;
  display: flex;
  font-size: 1.8vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.locationset:hover {
  background-color: #f2f2f2;
}
.locationset i {
  padding-right: 1vh;
  font-size: 2vh;
}
/*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*/
/*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*/
.sign-up-form {
  font-family: Outfit, sans-serif;
  font-size: 2vh;
  width: 60vh;
  height: 65vh;
  background: #fff;
  padding: 3vh;
  border-radius: 1vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  visibility: hidden;
  transition: transform 0.5s;
  z-index: 2;
  display: flex; 
  flex-direction: column;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.3);
}
#dimmer {
    background:#000;
    opacity:0.5;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:1; /* may not be necessary */
    cursor: pointer;
}
.sign-up-form > div {
  display: flex;
  justify-content: space-around;
}
.open-popup {
  visibility: visible;
  top: 55%;
  transform: translate(-50%, -50%) scale(1);
}
.liORsi {
  align-items: center;
  align-self: center;
  background-color: #f4f4f4;
  border-radius: 1vh;
  height: 5vh;
  width: 25vh;
  margin-top: 1vh;
  margin-bottom: 8vh;
}
.li-btn {
  display: inline-block;
  font-family: Outfit, sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  height: 5vh;
  color: #fff;
  background-color: #333;
  outline: none;
}
.su-btn {
  display: inline-block;
  font-family: Outfit, sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  height: 5vh;
  color: #000;
  outline: none;
}
.login-btn {
  font-family: Outfit, sans-serif;
  background-color: #39D2C0;
  width: 15vh;
  height: 6vh;
  margin-bottom: 4vh;
  font-size: 1.8vh;
}
.fab {
  color: #f2f2f2;
  background-color: #333;
  border-radius: 1vh;
  font-size: 2.5vh;
  width: 10vh;
  height: 6vh;
  padding-top: 3vh;
  margin: 3vh;
  margin-top: 4vh;
  cursor: pointer;
}
.input-box {
  background-color: #f2f2f2;
  font-family: Outfit, sans-serif;
  font-size: 2vh;
  border-radius: 1vh;
  padding: 2vh;
  margin-top: 2vh;
  width: 90%;
  height: auto;
  border: none;
  outline: none;
}
button {
  font-family: Outfit, sans-serif;
  color: #fff;
  width: 100%;
  padding: 1vh;
  border-radius: 1vh;
  font-size: 2vh;
  border: none;
  outline: none;
  cursor: pointer;
}
/*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*/
/*LOCATIONSETPOP*//*LOCATIONSETPOP*//*LOCATIONSETPOP*//*LOCATIONSETPOP*//*LOCATIONSETPOP*/
.locationset-form {
  font-family: Outfit, sans-serif;
  font-size: 2vh;
  width: 55vh;
  height: 23vh;
  background: #fff;
  padding: 3vh;
  border-radius: 1vh;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  visibility: hidden;
  transition: transform 0.3s;
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.3);
}
.locationsettopinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.enteraddress {
  text-align: left;
  margin-bottom: 2vh;
  margin-left: 1vh;
}
.uselocation {
  color: #ff3a3a;
  padding: 1.5vh;
  border-radius: 1vh;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.uselocation i {
  margin-right: 1vh;
}
.uselocation:hover {
  background-color: #f2f2f2;
}
.locationsetinput {
  font-family: Outfit, sans-serif;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  margin-top: 3vh;
  padding: 2vh;
  padding-left: 3vh;
  border-radius: 1vh;
  font-size: 2vh;
}
.open-locationsetpopup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
/*LOCATIONSETPOP*//*LOCATIONSETPOP*//*LOCATIONSETPOP*//*LOCATIONSETPOP*//*LOCATIONSETPOP*/
hr {
  border: none;
  height: 0.1vh;
  margin-bottom: 2vh;
  background-color: #ccccccc2;
}
.allstuff {
  display: flex;
  flex-direction: row;
}
/*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*/
.imagecontainer {
  position: relative;
  display: inline-block;
  margin-left: 2vh;
  margin-top: 2vh;
}
.restaurant-image {
  object-fit: cover;
  width: 75vh;
  height: 83vh;
  border-radius: 1vh;
}
#arrowless {
  position: absolute;
  top: 50%;
  right: 69vh;
}
#arrowlesscircle {
  background-color: #f2f2f2;
  color: #333;
  font-size: 3vh;
  padding: 0.7vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  border-radius: 10vh;
  cursor: pointer;
}
#arrowlesscircle:hover {
  background-color: #e8e8e8;
}
#arrowmore {
  position: absolute;
  top: 50%;
  right: 1.5vh;
}
#arrowmorecircle {
  background-color: #f2f2f2;
  color: #333;
  font-size: 3vh;
  padding: 0.7vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  border-radius: 10vh;
  cursor: pointer;
}
#arrowmorecircle:hover {
  background-color: #e8e8e8;
}
/*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*//*IMAGE*/
/*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*/
.details {
 background-color: #fff;
 width: 110vh;
}
.title {
  color: #000;
  margin-left: 3vh;
  margin-top: 1vh;
  font-size: 4vh;
}
.description {
  margin-bottom: 2vh;
  margin-left: 2vh;
  margin-top: 0.5vh;
  padding: 1vh;
  border-radius: 1vh;
  cursor: pointer;
}
.description i {
  font-size: 1.5vh;
  margin-left: 1vh;
}
.detailsrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3vh;
  margin-right: 3vh;
  margin-bottom: 3vh;
}
.detailsrow i {
  font-size: 2.7vh;
  margin-left: 2.5vh;
}
.queuetime {
  background-color: #f2f2f2;
  width: 15vh;
  height: 4vh;
  padding: 3vh;
  border-radius: 1vh;
  display: flex;
  align-items: center; 
  justify-content: center;  
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.queuetime:hover {
  background-color: #e8e8e8;
}
.ratings {
  background-color: #f2f2f2;
  width: 15vh;
  height: 4vh;
  padding: 3vh;
  border-radius: 1vh;
  display: flex;
  align-items: center; 
  justify-content: center; 
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.ratings:hover {
  background-color: #e8e8e8;
}
.call {
  background-color: #f2f2f2;
  width: 15vh;
  height: 4vh;
  padding: 3vh;
  border-radius: 1vh;
  display: flex;
  align-items: center; 
  justify-content: center;  
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.call:hover {
  background-color: #e8e8e8;
}
.directions {
  background-color: #f2f2f2;
  width: 15vh;
  height: 4vh;
  padding: 3vh;
  border-radius: 1vh;
  display: flex;
  align-items: center; 
  justify-content: center;  
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.directions:hover {
  background-color: #e8e8e8;
}
/*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*//*DETAILS*/
/*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*/
.menu {
  font-size: 1.7vh;
  font-weight: 300;
  margin-left: 3vh;
  margin-right: 3vh;
}
.menutitle {
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-size: 3vh;
}
.menuitemlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menuitem {
  background-color: #ffff;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  padding-left: 3vh;
  border-radius: 1vh;
  font-size: 1.8vh;
  cursor: pointer;
  justify-content: space-between;
  border: 1px solid #f2f2f2;
  outline: none;
}
.itemimage {
  height: 17vh;
  border-radius: 1vh;
}
/*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*//*MENU*/
/*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*/
.foodinfo {
  color: #777777;
}
/*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*//*FOODINFO*/