html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  height: 77.5%;
  display: start;
}
body
{
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
}


/*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
.open-popup {
  display: block;
}
.overlay-show {
  display: block;
}
.sign-up-form {
  font-family: Outfit, sans-serif;
  font-size: 2vh;
  width: 60vh;
  height: 70vh;
  background: #fff;
  padding: 3vh;
  border-radius: 3vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  visibility: hidden;
  transition: transform 0.5s;
  z-index: 2;
  display: flex; 
  flex-direction: column;
}

.sign-up-form > div {
  display: flex;
  justify-content: space-around;
}

.open-popup {
  visibility: visible;
  top: 55%;
  transform: translate(-50%, -50%) scale(1);
}

.liORsi {
  align-items: center;
  align-self: center;
  background-color: #f4f4f4;
  border-radius: 5vh;
  height: 5vh;
  width: 25vh;
  margin-top: 1vh;
  margin-bottom: 8vh;
}
.li-btn {
  display: inline-block;
  font-family: Outfit, sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  height: 5vh;
  color: #fff;
  background-color: #333;
  outline: none;
}
.su-btn {
  display: inline-block;
  font-family: Outfit, sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  height: 5vh;
  color: #000;
  outline: none;
}
.login-btn {
  font-family: Outfit, sans-serif;
  background-color: #39D2C0;
  width: 15vh;
  height: 6vh;
  margin-bottom: 4vh;
}
.fab {
  color: #eee;
  background-color: #333;
  border-radius: 50%;
  font-size: 2.5vh;
  width: 8vh;
  height: 5vh;
  margin: 3vh;
  padding-top: 2.5vh;
  margin-top: 5vh;
  cursor: pointer;
}
.input-box {
  background-color: #eee;
  font-family: Outfit, sans-serif;
  font-size: 2vh;
  border-radius: 2vh;
  padding: 2vh;
  margin-top: 2vh;
  width: 90%;
  height: auto;
  border: none;
  outline: none;
}
button {
  font-family: Outfit, sans-serif;
  color: #fff;
  width: 100%;
  padding: 1vh;
  border-radius: 5vh;
  font-size: 2vh;
  border: none;
  outline: none;
  cursor: pointer;
}
/*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*//*SIGNUP*/



/*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*/
.topstuff {
  background-color: #eee;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5vh;
  padding-top: 2vh;
}
.how {
  font-family: Outfit, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 2vh;
  height: 13vh;
  width: 22vh;
  margin: 2vh;
  margin-left: 6vh;
  text-decoration: none;
}
.how-text {
  padding: 0;
  font-size: 1.9vh;
}
.partner {
  font-family: Outfit, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 2vh;
  height: 13vh;
  width: 22vh;
  margin: 2vh;
  text-decoration: none;
}
.partner-text {
  padding: 0;
  font-size: 1.9vh;
}
.about {
  font-family: Outfit, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 2vh;
  height: 13vh;
  width: 22vh;
  margin: 2vh;
  text-decoration: none;
  }
.about-text {
  padding: 0;
  font-size: 1.9vh;
}
  
.topjoin{
  padding-bottom: 10vh;
  padding-left: 62vh;
}
.topjoin signin {
  font-family: Outfit, sans-serif;
  color: #000;
  border-radius: 6vh;
  border: none;
  padding: 1.5vh 3vh;
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.topjoin signin:hover {
  background-color: #e8e8e8;
}
.topjoin signup {
  font-family: Outfit, sans-serif;
  background-color: #2dc8b6;
  color: #fff;
  border-radius: 6vh;
  border: none;
  padding: 1.5vh 3vh;
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.liORsi signup:hover {
  background-color: #2dc8b6;
}
/*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*/



/*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*/
.location {
  position: absolute;
  top: 30%;
  left: 6%;
  z-index: 1;
  background-color: #fff;
  padding: 1.5vh;
  border-radius: 2vh;
}
.location input[type="text"] {
  font-family: Outfit, sans-serif;
  font-size: 2vh;
  width: 45vh;
  padding: 1vh;
  padding-left: 2vh;
  border: none;
  outline: none;
}
/*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*/


@media (prefers-color-scheme: dark) {
  .topstuff {
    background-color: #333;

  }
  .how {
    background-color: #5c5c5c;
  }
  .how-text {
    color: #fff;
  }
  .about {
    background-color: #5c5c5c;
  }
  .about-text {
    color: #fff;
  }
  .partner {
    background-color: #5c5c5c;
  }
  .partner-text {
    color: #fff;
  }
  
  .topjoin signin {
    color: #fff;
    transition: background-color 0.3s ease;
  }
  .topjoin signin:hover {
    background-color: #505050;
  }


  .location {
    background-color: #505050;
  }
  .location input {
    background-color: #505050;
    color: #fff;
  }

  .sign-up-form {
    background-color: #333;
  }
  .liORsi {
    background-color: #505050;
  }
  .li-btn {
    background-color: #000;
  }
  .su-btn {
    color: #fff;
  }
  .fab {
    background-color: #000;
  }
  .input-box {
    background-color: #505050;
    color: #fff;
  }
}
