html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  height: 80%;
  display: start;
}





/*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*/
.topstuff {
  background-color: #eee;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0.5vh;
  padding-top: 2.5vh;
}
.favorites {
  font-family: Outfit, sans-serif;
  background-color: #fff;
  color: #000;
  padding-left: 8vh;
  padding-top: 3.5vh;
  border-radius: 2vh;
  height: 10vh;
  width: 16vh;
  margin: 2vh;
  margin-left: 5vh;
}
.goagain {
  font-family: Outfit, sans-serif;
  background-color: #fff;
  color: #000;
  padding-left: 8vh;
  padding-top: 3.5vh;
  border-radius: 2vh;
  height: 10vh;
  width: 16vh;
  margin: 2vh;
}
.circle-icon {
  color: #333;
  padding-top: 2vh;
  padding-bottom: 1.8vh;
  padding-left: 2.8vh;
  padding-right: 2.8vh;
  margin-right: 1vh;
  border-radius: 10vh;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
}  
.circle-icon:hover {
  background-color: #e7e7e7; 
}
.join{
  padding-bottom: 10vh;
  padding-left: 96vh;
}
.join button {
  font-family: Outfit, sans-serif;
  background-color: #39D2C0;
  color: #fff;
  border-radius: 2vh;
  border: none;
  padding: 2vh 5vh;
  font-size: 2.2vh;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.join button:hover {
  background-color: #fff;
  color: #39D2C0;
}
/*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*//*TOPSTUFF*/





/*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*/
iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.startingpoint {
  position: absolute;
  top: 35%;
  left: 17%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  padding: 1.5vh;
  border-radius: 2vh;
  box-shadow: 0 0 1vh rgba(0,0,0,0.1);
}
.startingpoint input[type="text"] {
  font-family: Outfit, sans-serif;
  width: 40vh;
  padding: 1vh;
  padding-left: 2vh;
  border: none;
  outline: none;
}

.destination {
  position: absolute;
  top: 44%;
  left: 17%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  padding: 1.5vh;
  border-radius: 2vh;
  box-shadow: 0 0 1vh rgba(0,0,0,0.1);
}
.destination input[type="text"] {
  font-family: Outfit, sans-serif;
  width: 40vh;
  padding: 1vh;
  padding-left: 2vh;
  border: none;
  outline: none;
}
/*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*//*MAP*/